[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=btop
Comment=the best top
Exec=xfce4-terminal --geometry=142x57+0+0 -x btop
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

