:root {
  scrollbar-color: #2c77ac #2c77ac;
}

#viewerContainer > #viewer .page > .canvasWrapper > canvas {
  filter: grayscale(100%);
  filter: invert(100%);
}

#viewerContainer {
  background-color: #121212 !important;
}

/* #toolbarContainer { */
/* background-color: #4b4b4b !important; */
/* } */

.pdfViewer {
  background-color: #181818 !important;
}

#sidebarContainer {
  background-color: #202020 !important;
}

/* #outlineView, */
/* #thumbnailView, */
/* #attachmentsView { */
/* color: #ffffff !important; */
/* } */
